<div class="reg">
    <div class="logo">

        <a style="color:#e72929;display:flex;align-items:center;font-size:35px;font-weight:700;text-shadow: 2px 2px 4px rgba(241, 241, 241, 0.5);"
            routerLink=""> Music Player</a>
        <ul>
            <li>
                <a routerLink="/registration">Register</a>
            </li>

            <li>
                <a routerLink="/login">Login</a>
            </li>

        </ul>

    </div>

    <div class="registration">
        <h1>Registration Form</h1>
        <label for="email">Email - </label>
        <input id="email" #email placeholder="Enter email">
        <label for="number">Phone Number - </label>
        <input type="text" #number placeholder="Enter Phonenumber">
        <label for="password">Password - </label>
        <input type="password" #password placeholder="Enter Password">

        <button (click)="register(email.value, number.value, password.value)">Register</button>
    </div>
</div>