.homeHeader{
    background-image: url('src\assets\bg-img2.jpg');
    height: 80px;
    display: flex;
    justify-content:space-between;
}
.homeHeader ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
.homeHeader ul li a{
    width: 6rem;
     margin: 0.5rem;
     font-size: 18px;
    display: flex;
    flex-direction: column;
   color:#ffffff;
}
.homeHeader ul li a:hover{
    color: #e72929;
    font-size: 23px;
}

/* Home Header end */


/* playlist.component.css */
.playlist {
   background-image: url('src\assets\bg-img2.jpg'); 
   background-size: cover;
   height: 700px;
}

.list{
    color: #fff;
}
  /* playlist.component.css */
  