<div class="logout">

    <div class="homeHeader">
        <h1
            style="color:#e23a3a;display:flex;align-items:center;font-size:35px;font-weight:700; text-shadow: 5px 2px 4px rgba(241, 241, 241, 0.5);">
            Music Player </h1>

        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/playlist">PlayList</a>
            </li>
            <li>
                <a routerLink="/logout">Logout</a>
            </li>

        </ul>

    </div>

    <p
        style="color:#e23a3a;display:flex;justify-content:center;margin:9rem auto 1rem; align-items: center;font-size:35px;font-weight:700">
        Are sure...! You want to Logout...!</p>
    <button>
        <a href=''>LogOut</a>
    </button>

</div>