<div class="block">

    <div class="homeHeader">
        <h1 style="color:#e23a3a;display:flex;align-items:center;font-size:35px;font-weight:700; text-shadow: 5px 2px 4px rgba(241, 241, 241, 0.5);"> Music Player </h1>

        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/playlist">PlayList</a>
            </li>
            <li>
                <a routerLink=''>Logout</a>
            </li>
        </ul>

    </div>


    <app-search></app-search>

    <div class="list">
        <ul>
            <li *ngFor="let song of songs">
                <a>
                    <img src="{{song.imageUrl}}" alt="song images">
                    <div class="content">
                        <div class="name">
                            {{song.name}}
                        </div>
                        <div class="singer">
                            {{song.singer}},
                            {{song.musicDirector}}<br>
                            {{song.releaseDate}}
                        </div>
                        <div class="album">
                            {{song.album}}
                        </div>

                    </div>

                </a>
            </li>
        </ul>
    </div>
</div>